{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    {% for event in events %}
        <li>
            Name {{ event.name }}
        </li>
        <li>
            Start {{ event.startAt|date('d/m/Y') }}
        </li>
{#        <li>#}
{#            {{ event.duration }}#}
{#        </li>#}
        <li>
            End {{ event.registrationEndsAt|date('d/m/Y') }}
        </li>
        <li>
            Max Users {{ event.maxUsers }}
        </li>
        <li>
            Description {{ event.description }}
        </li>
        <li>
            Location {{ event.location.street }}
        </li>
{#        <li>#}
{#            {{ event.users }}#}
{#        </li>#}
        <li>
           Status {{ event.status.label }}
        </li>

    {% endfor %}

{% endblock %}
