{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <div>

        {{ form_start(form) }}
        {{ form_widget(form.campus) }}
        {{ form_widget(form.event) }}
        {{ form_widget(form.eventCheckb) }}
        <button type="submit" class="btn btn-primary">Rechercher</button>
        {{ form_end(form) }}
    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Liste des événements</h2>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date de début</th>
                        <th>Fin des inscriptions</th>
                        <th>Max participants</th>
                        <th>Description</th>
                        <th>Adresse</th>
                        <th>Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.startAt|date('d/m/Y') }}</td>
                            <td>{{ event.registrationEndsAt|date('d/m/Y') }}</td>
                            <td>{{ event.maxUsers }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.location.street }}</td>
                            <td>{{ event.status.label }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Aucun événement trouvé.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
