{% extends 'base.html.twig' %}

{% block title %}Détail d'un évènement{% endblock %}

{% block body %}


                <ul class="list-group list-group-flush">
                    <li class="name-event">Nom de la sortie:  {{ event.name }}</li>
                    <li class="date-hours-event">Date et heure de la sortie: {{ event.startAt |date('d/m/Y')}}</li>
                    <li class="date-limit-inscription">Date limite d'inscription: {{ event.registrationEndsAt |date('d/m/Y')}}</li>
                    <li class="nbr-place">Nombre de places: {{ event.maxUsers }}</li>
                    <li class="duration">Durée: {{ event.duration }}</li>
                    <li class="description">Description et info : {{ event.description }}</li>
                    {% if host is defined and host.name is not empty %}
                        <li class="host">Organisateur : {{ event.host.firstName }}</li>
                    {% endif %}
                    <li class="City">Ville organisatrice : {{ location.name }}</li>
                    <li class="place">Lieu : {{ location.name }}</li>
                    <li class="street">Rue : {{ location.street }}</li>
                    <li class="latitude">Latitude : {{ location.latitude }}</li>
                    <li class="longitude">Longitude : {{ location.longitude }}</li>
                </ul>
{% endblock %}