{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="font-size: 24px; backdrop-filter: blur(10px); border-radius: 5px;  border: 1px solid whitesmoke; padding: 5%">
        {% if app.user %}
            <div class="mb-3">
                <h1>Vous êtes connecté</h1>
                <p>Bienvenue, {{ app.user.firstName }} {{ app.user.lastName }} !</p>
                <a href="{{ path('app_logout') }}" class="btn btn-lg btn-primary">Se déconnecter</a>
            </div>
        {% else %}
            <div class="alert">
                🔒 Vous devez être connecté pour consulter la liste des sorties prévues.
            </div>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 style="margin-top: 3%;margin-bottom: 3%;">Connectez-vous</h1>
                <div class="container text-left">
                    <div class="row-cols-sm-1">
                    <label style="margin-top: 3%;margin-bottom: 3%;" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>

                    <label style="margin-top: 3%;margin-bottom: 3%;" for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" required>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox" style="margin-top: 3%;margin-bottom: 3%;">
                    <input type="checkbox" name="_remember_me"> Souvenir de moi
                </div>

                <button style="margin-top: 3%;margin-bottom: 3%; color: whitesmoke; background-color: rgba(255,255,255,0) ; border-radius: 5px;  border: 1px solid whitesmoke;" type="submit">Connexion</button>

                <p>
                    Pas encore de compte ?
                    <a style="color: #73c866; font-size: 20px" href="{{ path('app_register') }}">Inscrivez-vous</a>
                </p>
                <p>
                    Mot de passe oublié ?
                    <a href="{{ path('app_forgot_password_request') }}">Réinitialiser </a>
                </p>
            </form>
        {% endif %}
    </div>
{% endblock %}
